{% extends "layout.html" %}

{% block title %}
{{ title }}
{% endblock title %}


{% block content %}
<div class="flex mx-auto flex-col space-y-10 w-full">
  <div class="flex flex-col mx-auto space-y-4 w-full">
<h1 class="text-2xl self-center">{{ title }}</h1>
</div>
<div class="flex flex-col mx-auto space-y-4 w-96">
<button class="bg-blue-300 p-4 rounded-md text-white" hx-get="/new_product" hx-swap="outerHTML">
  New Product
</button>
<button class="bg-blue-300 p-4 rounded-md text-white" hx-post="/test_stream" hx-trigger="load, every 2s" hx-target="#response-test">
  Datastream
</button>
<div class="bg-blue-400 p-4 text-center w-full rounded-md text-white" id="response-test"></div>
</div>
<div class="flex flex-col mx-auto space-y-4 w-full">
  <h1 class="text-2xl self-center">Products</h1>
  <div class="flex flex-col mx-auto space-y-4 w-full" hx-trigger="load" hx-get="/products">
  </div>
</div>
{% endblock content %}
